*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'Asap', sans-serif;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 1.4rem;
}
label {
  display: block;
}
header {
  color: #FFF;
  background: #272822;
  padding: 20px;
}
.animate-show {
  -webkit-animation: fadeIn 0.3s;
  -moz-animation: fadeIn 0.3s;
  animation: fadeIn 0.3s;
}
/*********************************************************
* Type
*/
h1,
.h1 {
  line-height: 2.8rem;
  font-size: 3.375em;
}
h2,
.h2 {
  line-height: 2.8rem;
  font-size: 2.25em;
}
h3,
.h3 {
  font-size: 1.5em;
}
.h1,
.h2,
.h3 {
  vertical-align: middle;
}
/*********************************************************
* Container
*/
.expense-display {
  padding: 20px;
}
.new-expense-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(21, 163, 141, 0.8);
  overflow: scroll;
}
.new-expense-container form {
  margin-top: 50px;
  width: 500px;
  padding: 30px;
  background: white;
  border: 1px solid #15a38d;
}
/*********************************************************
* Form
*/
.error-message,
.note {
  font-size: 0.9em;
}
.note {
  color: #999;
}
.error-message {
  color: #de5b3c;
}
.form {
  margin: 0 auto;
  line-height: 1.4em;
}
.form h3 {
  margin-top: 0;
}
.form-field {
  margin-bottom: 20px;
}
.form-field.half,
.form-field.third,
.form-field.quarter {
  zoom: 1;
  float: left;
  margin-right: 1%;
}
.form-field.half:before,
.form-field.third:before,
.form-field.quarter:before {
  content: '';
  display: block;
}
.form-field.half:after,
.form-field.third:after,
.form-field.quarter:after {
  content: '';
  display: table;
  clear: both;
}
.form-field.quarter {
  width: 24%;
}
.form-field.half {
  width: 48%;
}
.form-field.third {
  width: 33%;
}
.form-field.highlighted {
  background: #eaeaea;
  padding: 10px;
}
label {
  display: block;
  margin-bottom: 5px;
}
label.inline {
  margin-bottom: 0;
  display: inline;
  vertical-align: center;
}
input,
select,
textarea {
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  color: #555;
  border: 1px solid #CCC;
  box-shadow: 0 4px 2px -3px rgba(0, 0, 0, 0.1);
  padding: 5px;
  height: 2.0999999999999996rem;
  margin: 0 0 5px 0;
}
input:focus,
select:focus,
textarea:focus {
  outline: none;
  border: 1px solid #15a38d;
}
input.inline,
select.inline,
textarea.inline {
  width: auto;
  display: inline-block;
}
input.align-right,
select.align-right,
textarea.align-right {
  text-align: right;
}
input.currency,
select.currency,
textarea.currency {
  font-family: menlo, mono;
}
input.tiny,
select.tiny,
textarea.tiny {
  width: 50%;
}
input.ng-invalid:not(.ng-pristine),
select.ng-invalid:not(.ng-pristine),
textarea.ng-invalid:not(.ng-pristine),
input.ng-invalid:not(.ng-pristine):focus,
select.ng-invalid:not(.ng-pristine):focus,
textarea.ng-invalid:not(.ng-pristine):focus {
  color: #de5b3c;
  border: 1px solid #de5b3c;
}
textarea {
  height: 4.199999999999999rem;
}
button {
  display: inline-block;
  font-size: inherit;
  background: #de5b3c;
  border: 1px solid #c64121;
  border-bottom: 4px solid #c64121;
  color: #FFF;
  padding: 14px 25px;
  border-radius: 3px;
  cursor: pointer;
}
button:focus,
button:active {
  outline: none;
  border-bottom: 4px solid #c64121;
}
button:hover {
  background: #e26d52;
}
button[disabled] {
  opacity: 0.5;
}
.expense-table td {
  width: 16.666666666666668%;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
table thead tr {
  font-weight: bold;
}
table tr {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #d9d9d9;
}
table .total {
  background: #EEE;
  font-weight: bold;
}
table td {
  margin: 0;
  padding: 10px;
  border: none;
  vertical-align: top;
}
/*********************************************************
* Spacing
*/
.pad-right {
  margin-right: 1.4rem;
}
