<div class="main">

  <div class="container expense-display">
    <p>
      <button class="pad-right" ng-click="expense.show='on'">Add entry</button>
      <span class="h1">Expenses</span>
    </p>
    <table class="expense-table">
      <thead>
        <tr>
          <td>Date</td>
          <td>Department/Project</td>
          <td>Expense Type</td>
          <td>Description/Reason</td>
          <td>Location</td>
          <td>Total</td>
        </tr>
      </thead>
      <tr ng-repeat="item in expenses">
        <td>{{item.date}}</td>
        <td>{{item.dept_project}}</td>
        <td>{{item.expense_type}}</td>
        <td>{{item.description}}</td>
        <td>{{item.location}}</td>
        <td>{{exchangedAmount(item.total, item.rate) | currency}} USD ({{item.total}} {{item.currency}})</td>
      </tr>
      <tr class="total">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{grandTotal() | currency}} USD</td>
      </tr>
    </table>
  </div>

  <div class="container new-expense-container animate-show" ng-show="expense.show">
    <form
      novalidate
      class="form"
      name="new_expense"
      ng-submit="submit()">
    <h3>Add expense</h3>

    <div class="form-field half">
      <label for="date">Date</label>
      <input required type="text" name="date" ng-model="expense.date" placeholder="Enter a date in any format...">
      <div class="note">
        {{formattedDate(expense.date)}}
      </div>
    </div>

    <div class="form-field half">
      <label for="location">Location</label>
      <input required type="text" name="location" ng-model="expense.location">
      <div class="note">
        e.g. Ocho Hotel, Toronto
      </div>
    </div>

    <div class="form-field half">
      <label for="dept_project">Department/Project</label>
      <select required name="dept_project" ng-model="expense.dept_project">
        <option ng-repeat="item in deptProjectList" value="{{item}}">{{item}}</option>
      </select>
      <div class="error-message" ng-show="new_expense.dept_project.$dirty && new_expense.dept_project.$error.required">
        Please choose a department/project
      </div>
    </div>

    <div class="form-field half">
      <label for="expense_type">Expense Type</label>
      <select required name="expense_type" ng-model="expense.expense_type">
        <option ng-repeat="item in expenseTypeList" value="{{item}}">{{item}}</option>
      </select>
      <div class="error-message" ng-show="new_expense.expense_type.$dirty && new_expense.expense_type.$error.required">
        Please choose an expense type
      </div>
    </div>

    <div class="form-field">
      <label for="description">Description and reason for expense</label>
      <textarea required name="description" ng-model="expense.description"></textarea>
      <div class="error-message" ng-show="new_expense.description.$dirty && new_expense.description.$error.required">
        Please include a short description.
      </div>
    </div>

    <div class="form-field quarter">
      <label for="total">Total</label>
      <input required currency-input class="currency" type="text" name="total" ng-model="expense.total" placeholder="0.00">
      <div class="note" ng-show="new_expense.total.$valid">
        {{exchangedAmount(expense.total, expense.rate) | currency}} USD
      </div>
      <div class="error-message" ng-show="new_expense.total.$error.currency">
        Please enter an amount e.g. 21.00
      </div>
    </div>

    <div class="form-field quarter">
      <label for="total">Currency</label>
      <select required name="expense.currency" ng-model="expense.currency" ng-change="setCurrency()">
        <option selected="selected" value="USD">USD</option>
        <option ng-repeat="(code, inUSD) in currencies" value="{{code}}">{{code}}</option>
        <option value=''>Other...</option>
      </select>
    </div>

    <div class="form-field half highlighted">
      <label for="total">Exchange Rate</label>
        <label class="inline">1 USD =</label>
        <input ng-model="expense.rate" class="inline tiny" placeholder="0.00">
        <label class="inline">{{expense.currency}}</label>
    </div>

    <div class="form-field">
      <button ng-disabled="new_expense.$invalid" ng-click="addExpense()">Add expense</button>
      <button ng-click="expense.show=''">Cancel</button>
    </form>
  </div>
</div>
